@import 'mq';

.mt {

  .isApp {
    margin-top: 60px;
  }

  .appSticky {
    top: 40px;
  }

  a:link {
    color: #005689;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
  }

  /* visited link */
  a:visited {
    color: #005689;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
  }

  /* mouse over link */
  a:hover {
    color: #005689;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
  }

  /* selected link */
  a:active {
    color: #005689;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
  }

  .predicted-outcome {
    
    @include mq($from: wide) {
      margin-top: 20px;
    }

  }

  #parliament-graphic {
      background: url('<%= path %>/assets/imgs/parliament.svg');
      background-size: auto 100px;
      height: 100px;
      width: 200px;
      background-position: center top;
      background-repeat: no-repeat;
      margin-left: 0; 

      @include mq($until: wide) {
          display: none;
      }


  }    

  .election-result {
    color: #767676;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    width: 100%;
    .election-outcome {
      font-weight: bold;
      font-size: 16px;
      &.coalition{
        color: #005689;
      }
      &.labor{
        color: #b51800;
      }
    }

    @include mq($until: wide) {
        display: none;
    }



  }

  .timestampSocial {
    font-size:0.8rem;
    color:#767676;
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
  }

  .btns-share {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btns-share .btn-tt {
    float: right;
    margin-left: 10px;
    background: #bdbdbd url('<%= path %>/assets/imgs/twitterIcon.svg') no-repeat center center;
  }

  .btns-share .btn-tt:hover {
    background-color: #03b3ee;
  }

  .btns-share .btn-fb {
      background: #bdbdbd url('<%= path %>/assets/imgs/facebookIcon.svg') no-repeat center center;
  }

  .btns-share .btn-fb:hover {
      background-color: #3067a3;
  }

  .btns-share button {
      color: #fff;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 9000px;
      display: block;
      vertical-align: top;
      cursor: pointer;
      outline: none;
      -webkit-appearance: button;
      text-transform: none;
      overflow: visible;
      -webkit-font-smoothing: antialiased;
      margin: 0;
  }
}